<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Create Account</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="auth-container">

    <h2>Create Your Account</h2>

    <p>Register to start analyzing resumes.</p>

    <form method="POST">

        <label>Username</label>

        <input
            type="text"
            name="username"
            placeholder="Enter your username"
            required>

        <label>Email</label>

        <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required>

        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Create a password"
            required>

        <button type="submit">
            Create Account
        </button>

    </form>

    <p class="bottom-text">
        Already have an account?
        <a href="/login">Login</a>
    </p>

</div>

</body>

</html>
```
